*{
    margin: 0%;
    padding: 0%;
}
nav{
    background-color: black;
    
color:white ;
padding: 15px;

}
ul,h1,li{
    display: inline;
}
ul{
    margin-left: 70%;
}
li{
color: gray;
cursor: pointer;

}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box{
border: color black ;
border-width: 10px;
}

